.bodycolor{
    background-color: brown;
    height: 2000px;
    width: 2000px;
    color: aliceblue;
    text-align: center;
}
@keyframes Pulse-Effect {
    0%,100%{
        text-shadow: none;
        opacity: 0.20;
    }
    50%{
        text-shadow: 0 0 10px blue;
        opacity: 1;
    }
}
@keyframes JoinToGether{
  from{
    letter-spacing: 50px;
    opacity: 0;
  }
  to{
    letter-spacing: 0px;
    opacity: 1;
  }
}
.ani{
    animation: Pulse-Effect;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
.divcolor{
    background-color: black;
    background-repeat: round;
    height: 50px;
    width: 2000px;
}
.jointogether{
  animation: JoinToGether;
  animation-timing-function: erase-in-out;
  animation-duration: 4s;
  animation-iteration-count: 1;
}