.box_decoration{
        height: 10cm;
        width:15cm;
        box-shadow: 5px 5px 10px rgb(109, 109, 109);
        border-radius: 5%;
        background-color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}
.head_text{
    text-align: center;
    font-family: 'Harrington';
    font-weight: bold;
    color: black;
}
.column_all{
        column-count: 2;
        column-rule-color: red;
        column-rule-width: 20px;
        text-align: center;
}
.text_box{
    background-color: azure;
    
}